@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Increase Lightbox Controls Size */
.yarl__button {
  width: 64px !important;
  height: 64px !important;
  padding: 12px !important;
}

.yarl__icon {
  width: 50px !important;
  height: 50px !important;
}

/* Shift navigation arrows and toolbar inward so they don't clip on the edge */
.yarl__navigation_next,
.yarl__toolbar {
  margin-right: 20px !important;
}

.yarl__navigation_prev {
  margin-left: 20px !important;
}
